<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css" integrity="sha512-YWzhKL2whUzgiheMoBFwW8CKV4qpHQAEuvilg9FAn5VJUDwKZZxkJNuGM4XkWuk94WCrrwslk8yWNGmY1EduTA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="css/style.css">
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/vue"></script>
</head>
<body>

    <div id="root">
        <div class="app-wrapper">
            <div class="bg-green"></div>
            <div class="bg-grey"></div>
            
            <!-- main window -->
            <main class="window">
                <div class="layout">
                    <div class="col col-left">
                        <!-- profile section -->
                        <section class="profile">
                            <div class="user">
                                <div class="user-pic">
                                    <img src="img/avatar_io.jpg" alt="user image">
                                </div>
                                <div class="user-name">Nome Utente</div>
                            </div>
                            <div class="user-option">
                                <i class="far fa-circle"></i>
                                <i class="fas fa-comment-alt"></i>
                                <i class="fas fa-ellipsis-v"></i>
                            </div>
                        </section>

                        <!-- notifications section -->
                        <section class="notifications">
                            <div class="bell-icon">
                                <i class="fas fa-bell-slash"></i>
                            </div>
                            <div>
                                <div class="bold">Ricevi notifiche di nuovi messaggi</div>
                                <div class="underline">attiva notifiche desktop</div>
                            </div>
                        </section>

                        <!-- search bar section -->
                        <section class="search-bar">
                            <i class="fas fa-search"></i>
                            <input type="text" placeholder="cerca o inizia una nuova chat">
                        </section>

                        <!-- dynamic chat list section -->
                        <section class="contacts">
                            <div
                            @click="selectContact(index)"
                            v-for="(contact, index) in contacts" 
                            class="user-chat" 
                            :class="{'active-chat': activeContact === index}">
                                <div class="user-pic">
                                    <img :src="'img/avatar' + contact.avatar + '.jpg'" :alt="contact.name">
                                </div>
                                <div class="user-name">{{contacts[index].name}}</div>
                            </div>
                        </section>
                    </div>

                    <div class="col col-right">
                        <!-- profile chat section -->
                        <section class="profile">
                            <div class="user-chat">
                                <div class="user-pic">
                                    <img src="img/avatar_io.jpg" alt="user image">
                                </div>
                                <div class="user-name">
                                    Nome Utente
                                    <div class="last-online">Ultimo accesso oggi alle</div>
                                </div>
                            </div>
                            <div class="user-option">
                                <i class="fas fa-search"></i>
                                <i class="fas fa-paperclip"></i>
                                <i class="fas fa-ellipsis-v"></i>
                            </div>
                        </section>

                        <!-- chat messages section -->
                        <section class="chat-messages">
                            <div class="messages-container">
                                <div
                                v-for="message in contacts[activeContact].messages" 
                                class="message" 
                                :class="{'sent': message.status === 'sent', 'received': message.status === 'received'}">
                                    {{message.text}}
                                    <div class="date">{{message.date}}</div>
                                </div>
                            </div>
                        </section>

                        <!-- input message section -->
                        <section class="input-message">
                            <i class="far fa-grin"></i>

                            <input 
                            type="text"
                            placeholder="Scrivi un messaggio"
                            @keyup.enter="sendMessage()"
                            v-model="newMessage">
                            
                            <i class="fas fa-microphone"></i>
                        </section>
                    </div>
                </div>
            </main>
        </div>
    </div>

    <script src="https://unpkg.com/dayjs@1.8.21/dayjs.min.js"></script>
    <script type="text/javascript" src="js/script.js"></script>
</body>
</html>